<section id="projects">
    <div class="projects container">
      <div class="projects-top">
        <h1 class="section-title">Recent <span>Projects</span></h1>
        <p class="project-description">
          Sich zu spezialisieren kommt noch nicht in Frage. Alles mögliche oberflächlich zu handhaben aber auch nicht. Also nimmt sich Jan für alles und jeden so viel Zeit, 
          wie es nötig ist, bis eine Idee verwirklicht wurde. Dieses spiegelt auch die Projekte wieder, die Jan im Laufe der Zeit realisiert hat. 
          Hier versucht sich Jan stetig neue Ziele zu setzen und dabei stets die Herausforderung zu suchen.

        </p>
      </div>
      <div class="projects-bottom">
        <div class="project-item">
          <div class="project-info">
            <h1>Magic Mirror</h1>
            <h2>Mirror, Mirror at the wall</h2>
            <p>
              Ein Spiegel mit eingebautem Bildschirm? Her damit! <br>
              Der Rahmen besteht aus Altholz und wurde mit brauner Ölfarbe behandelt. Für den rustikalen Look wurde der Rahmen anschließend mit rauem Schleifpapier abgeschliffen.
              Als Spiegel kommt der "Mirropane Chrome Spy 4 mm" von Glas Star zum Einsatz. Zusammen mit dem verbauten Raspberry Pi 4 und dem 17,3" non-glossy 
              LED Display strahlt das MagicMirror² von Michael Teeuw förmlich.
              </p>
          </div>
          <div class="project-img">
            <img src="\assets\img\projects-magicmirror-bg.jpeg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Homepage</h1>
            <h2>Coding is Love</h2>
            <p>
              Wenn Langeweile zu Produktivität führt.<br>
              Jan´s Homepage wurde mit dem Frontend Framework Angular geschrieben. Die Domain wurde bei Strato geordert und mittels einer IP-Weiterleitung auf die Entwicklungs-Plattform
              Firebase geroutet. Durch die nahtlose Integration von Firebase in Angular ist auf diese Weise ein schnelles Deployment gewährleistet.
            </p>
          </div>
          <div class="project-img">
            <img src="\assets\img\projects-homepage-bg.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Tree trunk shelf</h1>
            <h2>The somehow different project</h2>
            <p>
              Bei dem Baum handelt es sich um eine Elsbeere, die lange Zeit auf dem Waldboden vor sich hin vegetierte. Eine kurze Trockenzeit und stundenlanges Abschleifen später 
              wurden die beiden Enden begradigt und mittels einer schallentkoppelten Wandhalterung fixiert. Die Zwischenplatten wurden nicht an dem Stamm, sondern an der Wand befestigt, 
              da der Stamm unregelmäßig gewachsen ist.
            </p>
          </div>
          <div class="project-img">
            <img src="\assets\img\projects-TreeTrunkShelf-bg.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Pi-Hole</h1>
            <h2>A black hole for Internet advertisements</h2>
            <p>
              Gib Werbung keine Chance!<br>
              Bei Pi-Hole handelt es sich um einen Werbeblockersoftware und der Funktion eines optionalen DHCP-Servers.
              Die Freeware-Software wurde auf einem Raspberry Pi 4 installiert und an einen freien Lanport angeschlossen. Über die Weboberfläche wurden noch die gewünschten
              Settings vorgenommen. Im Anschluss ist der Pi einfach in einen freien Port am Router gesteckt worden. Jetzt musste nur noch der neue DNS-Server auf den Clientgeräten
              hinterlegt werden. Et voila. Werbung im Heimnetz verbannt.
            </p>
          </div>
          <div class="project-img">
            <img src="\assets\img\projects-piHole-bg.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>VPN server</h1>
            <h2>Little effort, big impact</h2>
            <p>
              Private Kommunikation für zu Hause. <br>
              Der VPN-Server wurde auf einem EC2 (Amazon Elastic Compute Cloud) realisiert. Als OS kommt die Linux-Distribution Ubuntu zum Einsatz. 
              Für den Aufbau einer VPN-Verbindung wurde in der virtuellen Maschine die Software OpenVPN eingerichtet.
            </p>
          </div>
          <div class="project-img">
            <img src="\assets\img\projects-vpn-bg.jpg" alt="img">
          </div>
        </div>
      </div>
    </div>
</section>