<section id="footer">
    <div class="footer container">
      <div class="brand"><h1><span>J</span>an <span>L</span>indheimer</h1></div>
      <h2>It´s not a bug, it´s a feature</h2>
      <div class="icon">
        <div class="item">
          <a href="https://de-de.facebook.com/" target=”_blank”><img src="https://img.icons8.com/doodle/48/000000/facebook-circled.png"/></a>
        </div>
        <div class="item">
          <a href="https://www.instagram.com/?hl=de" target=”_blank”><img src="https://img.icons8.com/doodle/48/000000/instagram.png"/></a>
        </div>
        <div class="item">
          <a href="https://9gag.com/u/jaan__" target=”_blank”><img src="https://img.icons8.com/doodle/48/000000/9gag--v1.png"/></a>
        </div>
        <div class="item">
          <a href="https://github.com/JA4N" target=”_blank”><img src="https://img.icons8.com/doodle/48/000000/github--v1.png"/></a>
        </div>
      </div>
      <p>Copyright © 2020 Jan. All rights reserved</p>
    </div>
</section>