<section id="gallery">   
  <!-- Swiper -->
  <div class="swiper-container">
    <h1 class="section-title">GA<span>LL</span>ERY</h1>
    <p class="gallery-description">
    </p>
    <div class="swiper-wrapper">
     <div class="swiper-slide"><img src="\assets\img\gallery\IMG_4510.jpg" alt="img"></div>
     <div class="swiper-slide"><img src="\assets\img\gallery\IMG_4515.jpg" alt="img"></div>
     <div class="swiper-slide"><img src="\assets\img\gallery\Lindi-7998.jpg" alt="img"></div>
     <div class="swiper-slide"><img src="\assets\img\gallery\Neuschwanstein.jpg" alt="img"></div>
    </div>
   <!-- Add Pagination -->
   <div class="swiper-pagination"></div>
   <!-- Add Arrows 
   <div class="swiper-button-prev"></div>
   <div class="swiper-button-next"></div>
   -->
 </div>
</section>  
