<section id="contact">
    <div class="contact container">
      <div><h1 class="section-title">Contact <span>info</span></h1></div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png"/></div>
          <a href="tel:+499123456789">
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>07192 / 900477</h2>
            <h2>+49 176 24983970</h2>
          </div>
        </a>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png"/></div>
          <a href="mailto:jan.lindheimer@hotmail.com">
          <div class="contact-info">
            <h1>Email</h1>
            <h2>jan.lindheimer@hotmail.com</h2>
            <h2>info.lindheimer@web.de</h2>
          </div>
          </a>
        </div>
        <div class="contact-item">  
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png"/></div>
          <a href="https://www.google.de/maps/place/Gro%C3%9Fgartenweg+21,+71540+Murrhardt/@48.9787679,9.5682846,17z/data=!3m1!4b1!4m5!3m4!1s0x47984ca57a67a2a9:0x9ba62365002eee21!8m2!3d48.9787679!4d9.5704733" target=”_blank”>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Großgartenweg 21,</h2>
            <h2>71540 Murrhardt, Germany</h2>
          </div>
          </a>
        </div>
      </div>
    </div>
</section>